.text-animate {
    display: inline-block;
    opacity: 0;
    animation: bounceIn 1s 1s;
    animation-fill-mode: forwards;

    &.space {
        min-width: 7px;
    }
}

.text-animate-hover {
    &.space {
        min-width: 7px;
    }
    display: inline-block;
    animation-fill-mode: both;

    &:hover {
        animation: rubberBand 1s;
        color: #6e84e4;
    }
}

@for $i from 1 through 44 {
    .text-animate._#{$i} {
        animation-delay: #{$i / 10}s;
    }
}